@import url(//cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);
/* @import url(//cdn.jsdelivr.net/npm/highlight.js@10.1.1/styles/tomorrow-night-eighties.css); */

code {
	font-family: 'Fira Code', monospace;
}
